/*common css start*/
* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
/*common css End*/

/*Header css start*/
.header-section {
    padding: 10px 0;
    text-align: center;
}

.brand-logo-outer {
    display: inline-block;
}

.brand-logo-outer img {
    width: 250px;
}
/*Header css End*/

/*Home Slider css Start*/

/*Home Slider css End*/

/*About Section css start*/
.about-section {
    padding: 70px 0;
    background-image: url(../images/Patern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 20%;
}

.about-section-title-outer {
    max-width: 850px;
    margin: auto;
    margin-bottom: 30px;
}

.about-section-title {
    font-size: 32px;
    text-align: center;
    color: #153F41;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.about-item-outer {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.about-item-inner .item-image {
    background: #153F41;
    padding: 50px;
    border-radius: 30px;
    max-width: 220px;
    margin: auto;
    margin-bottom: 15px;
}

.about-item-inner {
    text-align: center;
}

.about-item-inner .item-image img {
    max-width: 100px;
    height: 100px;
}

.about-item-inner .item-title {
    font-size: 24px;
    font-weight: 700;
    color: #153F41;
    font-family: 'Roboto', sans-serif;
}

.about-item-inner .item-text {
    margin-bottom: 0;
    font-size: 16px;
    color: #9E9E9E;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
/*About Section css End*/

/*Event section css start*/
.event-section {
    padding: 40px 0px;
    background-image: url(../images/home-vector.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.event-section-bg-shape {
    position: absolute;
    height: 100%;
    width: 200%;
    background: #0E2829;
    z-index: -1;
    border-radius: 100%;
    transform: translate(-52%, -50%);
    top: 50%;
    left: 50%;
}

.event-section-bg-shape-border {
    position: absolute;
    height: 107%;
    width: 200%;
    background: #79F0B4;
    z-index: -11;
    border-radius: 100%;
    transform: translate(-50%, -50%) rotate(1.4deg);
    top: 51%;
    left: 50%;
}

.event-section-title-outer {
    max-width: 850px;
    margin: auto;
    margin-bottom: 30px;
}

.event-section-title {
    font-size: 32px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.event-section-subtitle {
    color: #9E9E9E;
    text-align: center;
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.event-section .container {
    margin-bottom: 50px;
}

.event-item-content-wrap {
    display: flex;
    align-items: center;
    padding: 20px;
}

.event-item-wrap {
    background: #fff;
    border-radius: 25px;
}

.event-item-content-left {
    margin-right: 30px;
}

.event-item-content-left .event-month {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #32B67A;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.event-item-content-left .event-date {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.event-item-content-right .event-item-title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.event-item-content-right .event-item-text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #9E9E9E;
    margin-bottom: 0;
}
/*Event section css End*/

/*Mission & Vision section css start*/
.mission-vision-section {
    padding: 40px 0;
}

.mission-vision-item-wrap {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    transition: all .3s ease;
}

.mission-vision-item-icon i {
    font-size: 40px;
    color: #32b67a;
    transition: all .3s ease;
}

.mission-vision-item-icon {
    margin-right: 20px;
    transition: all .3s ease;
}

.mission-vision-item-content-title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
}

.mission-vision-item-content-text {
    margin-bottom: 0;
    font-size: 16px;
    color: #6F7775;
    font-weight: 400;
    line-height: 27px;
}

.mission-vision-item-wrap:hover .mission-vision-item-icon i {
    transform: scale(1.2);
}

.donate-btn-inner {
    display: inline-block;
    background: #32b67a;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
}

.donate-btn-inner:hover {
    color: #0f272a;
}

.donate-btn-outer {
    margin-top: 15px;
}
/*Mission & Vision section css End*/

/*Counter section css start*/
.counter-section {
    padding-bottom: 40px;
}

.counter-items-wrapper {
    background: url(../images/fun-fact-bg-image.jpg);
    padding: 80px 0;
    border-radius: 30px;
    background-size: cover;
}

.counter-item-wrap {
    text-align: center;
    border-right: 1px solid #fff;
}

.counter-item-wrap.border-none {
    border-right: none;
}

.counter-item-wrap .counter-number {
    color: #fff;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
}

.counter-item-wrap .counter-name {
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}
/*Counter section css End*/

/*Board Member section css start*/
.board-members-section {
    padding: 40px 0;
}

.board-member-image-outer {
    position: relative;
}

.board-member-image-outer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 100%;
    margin: auto;
    border-radius: 50%;
    background: rgb(50 182 122 / 30%);
    transition: 0.5s;
    transform: scale(0);
    z-index: 1;
}

.board-member-image-outer img {
    max-width: 300px;
    margin: auto;
}

.board-member-image-outer .social-list {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    left: -50px;
    transform: translateX(-50%);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.social-list .social-list-item {
    margin-right: 10px;
}

.social-list-item-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #FFFFFF;
    color: #25283A;
}

.board-member-image-outer:hover::after {
    transform: scale(1);
}

.social-list-item:last-child {
    margin-right: 0;
}

.social-list-item-link:hover {
    background: #0e2829;
}

.social-list-item-link:hover i {
    color: #fff;
}

.social-list-item-link i {
    transition: all .3s ease;
}

.board-member-image-outer:hover .social-list {
    left: 50%;
    opacity: 1;
    visibility: visible;
}

.board-member-info {
    margin-top: 10px;
    text-align: center;
}

.board-member-name {
    color: #fff;
    font-size: 25px;
}

.board-member-position {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
    color: #c6d4d1;
}

.board-members-items-wrapper .owl-nav .owl-prev {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #ffffffed!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.board-members-items-wrapper .owl-nav .owl-prev span {
    font-size: 30px;
    line-height: 24px;
}

.board-members-items-wrapper .owl-nav .owl-next {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #fff!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.board-members-items-wrapper .owl-nav .owl-next span {
    font-size: 30px;
    line-height: 24px;
}
/*Board Member section css End*/

/*Company Logo section css start*/
.company-logo-sectino {
    background: #32b67a;
    padding: 40px 0;
}

.company-logo-item-outer {
    display: inline-block;
}

.company-logo-item-outer img {
    max-width: 150px;
    margin: auto;
    transition: all .3s ease;
}

.company-logo-item-outer:hover img {
    transform: scale(1.05);
}

.company-logo-items-wrapper .owl-nav .owl-prev {
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #ffffffed!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.company-logo-items-wrapper .owl-nav .owl-prev span {
    font-size: 30px;
    line-height: 24px;
}

.company-logo-items-wrapper .owl-nav .owl-next {
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #fff!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.company-logo-items-wrapper .owl-nav .owl-next span {
    font-size: 30px;
    line-height: 24px;
}

.company-logo-items-wrapper .owl-item {
    text-align: center;
}
/*Company Logo section css End*/


/*Can Help Section css start*/
.can-help-section {
    background: url(../images/home-contact-bg.png);
    padding: 60px 0;
}

.can-help-info {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.can-help-info-title {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
}

.can-help-info-text {
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 25px;
}
/*Can Help Section css End*/

/*Blog section css start*/
.blog-section {
    padding: 50px 0;
}

.blog-item-outer {
    background: #fff;
    border-radius: 20px;
    border: 1px solid rgb(118 240 184);
    overflow: hidden;
    transition: all .5s ease;
    margin-bottom: 20px;
}

.blog-item-image {
    position: relative;
    transition: all .5s ease;
    display: block;
}

.blog-item-image img {
    transition: all .5s ease;
    height: 300px;
    object-fit: cover;
}

.blog-item-image .blog-tag {
    display: inline-block;
    position: absolute;
    bottom: -17px;
    left: 15px;
    background: #7ceeb4;
    color: #fff;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
}

.blog-item-content {
    padding: 30px 20px 15px;
}

.blog-item-content .authos-comments ul {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.blog-item-content .authos-comments {
    margin-bottom: 20px;
}

.blog-item-content .authos-comments ul li i {
    color: #7ceeb4;
    margin-right: 3px;
}

.blog-item-content .authos-comments ul li span {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.blog-item-title {
    display: inline-block;
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 30px;
    color: #25283A;
    margin-bottom: 10px;
    transition: 0.3s;
}

.blog-item-title:hover {
    color: #7ceeb4;
}

.blog-item-text {
    font-size: 15px;
    font-weight: 400;
    color: #6F7775;
    line-height: 26px;
}

.blog-bottom-outer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.blog-bottom-link {
    display: inline-block;
    color: #25283A;
    font-size: 16px;
    position: relative;
    font-family: 'Yeseva One', cursive;
}

.blog-bottom-link i {
    color: #7ceeb4;
    margin-left: 5px;
    font-size: 14px;
}

.blog-bottom-link:hover {
    color: #7ceeb4;
}

.blog-items-wrapper .owl-nav .owl-prev {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #ffffffed!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.blog-items-wrapper .owl-nav .owl-prev span {
    font-size: 30px;
    line-height: 24px;
}

.blog-items-wrapper .owl-nav .owl-next {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #fff!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.blog-items-wrapper .owl-nav .owl-next span {
    font-size: 30px;
    line-height: 24px;
}
/*Blog section css End*/

/*Footer section css start*/
.footer-section {
    padding: 60px 0px;
    background: #0e2829;
    background-image: url(../images/home-contact-bg.png);
}

.footer-item-outer .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.footer-brand-outer {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-item-outer .text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer-item-outer .footer-list {
    padding-left: 0;
    margin-bottom: 10px;
}

.footer-list-item-link {
    display: block;
    color: #b2b3cf;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in-out;
    padding-bottom: 10px;
}

.footer-social-links {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-list-item-link i {
    margin-right: 6px;
    color: #7ceeb4;
}

.footer-list-item-link:hover {
    color: #7ceeb4;
}

.footer-social-link-item a {
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 100%;
    color: #000;
    display: block;
}

.footer-social-link-item {
    margin-right: 8px;
}

.footer-social-link-item:hover a {
    transform: rotate(360deg);
}

/*.footer-bottom-outer {
    border-top: 1px solid #dbe2e9;
    border-bottom: 1px solid #dbe2e9;
    padding: 20px 0 18px;
    margin-top: 30px;
}

.footer-bottom-outer .copyright-text {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

.footer-bottom-outer .copyright-text a {
    color: #ffa500;
}*/
/*Footer section css End*/
